/* Display: Block */
h6 {
  display: block; /* By default so changes sizes*/
  /* display: inline; */
  background-color: chartreuse;
  /* padding: 20px 40px; */
  /* padding-top: 20px; */
  /* padding-bottom: 30px; */
  /* padding-left: 10px; */
  /* padding-right: 50px; */
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Display: Inline */
a {
  display: inline; /*By default so doesn't change sizes named margin/padding-top/bottom*/
  /* display: block; */
}

/* Display: inline-block */

a ~ h6 {
  /* display: inline-block; */
  background-color: goldenrod;
  padding: 30px 20px 40px 60px;
  margin: 20px;
}

/* Display: None  */
div + h5 {
  background-color: cornflowerblue;
  padding: 0.5rem;
  /* Display: none - Element is not exist*/
  /* display: none; */
  /* Opaxcity: Imvisible but exist => takes from  to 1 */
  /* opacity: 0; */
  /* opacity: 0.5; */
  opacity: 1;
  /* Text properties */

  /* text-align */
  /* text-align: center;
  text-align: right; */
  /* text-align: left; */

  /* text-decoration */
  text-decoration: dashed;
  text-decoration: line-through;
  text-decoration: overline;
  text-decoration: underline;
  /* text-decoration:wavy; */

  /* Text-transform: */
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
}
.to_float img {
  float: left;
  float: right;
  padding: 0.5rem;
  /* float: inline-start; */
}
.to_float img + img {
  float: left;
  padding: 0.5rem;
}
.to_float span {
  background-color: darkcyan;
  clear: both;
}

.box {
  /* width: 200px; */
  /* height: 200px; */
  background-color: darkgrey;
  color: aliceblue;
}
.box:hover {
  background-color: darkred;
}
.box:active {
  background-color: darkcyan;
}
a:visited {
  color: darkred;
}

a:hover {
  background-color: darkorange;
  padding: 0.5rem;
}
