h5 {
  color: brown;
}

/* h5 => selector */
/* color => property */
/* red => value */

/* Each property has its specific value   */

/* Selector types: tag, attributes, class, id, unversal  */

/* Tag Selector */
input {
  background-color: blue;
}

/* Attribute Selector */
[type="text"] {
  background-color: aquamarine;
}
/* Class Selector */
.password {
  background-color: blueviolet;
}
/* Id Selector */
#tel {
  background-color: coral;
}
/* Universal - * - Selector */
* {
  /* background-color: #f3c9c9; */
  margin: 0;
  /* padding: 0; */
}
/* Entire page dyed #f3c9c9 color*/

/* Cascading */
/* Selecting by tag = 4*/
h2 {
  color: cadetblue !important;
}

/* Selecting by attribute =3 */
[title="H2Att"] {
  color: chocolate;
}

/* Selecting by Class = 2*/
.classH2 {
  color: yellow;
}
/* Selecting by Id = 1*/
#idH2 {
  color: violet;
}
/* And there is an inline style css, it the most high in proriority */

/*Properties in order: TAG => ATTRIBUTE => CLASS => ID => INLINE CSS */
