/* Inharitance */
/* div{
  background-color:grey;
}
p{
  background-color: aquamarine;
}
span{
  background-color:wheat;
} */

/* Combinators */
/* Decendant selector */
/* div{
  background-color:grey;
} */
/* div p{
  color: aquamarine;
}  */
/* All Ps inside Div or other elements*/
/* Sign of the Descendant selector is " " an empty tab */
/* span{
  background-color:rebeccapurple;
} */

/* Child selector  */
.container > p {
  background-color: palegreen;
}
/* Sign of  it is ">" = greater that*/
.adjecent div + p {
  background-color: goldenrod;
}
/* Sign of it is "+" = plus*/
.general div ~ p {
  background-color: hotpink;
}
/* Sign of it "~" = tilda*/
/* Using  */
.combined ul li {
  background-color: gold;
}
.combined li.active {
  background-color: darkgoldenrod;
}
ul,
li,
.combined p {
  font-style: italic;
}
