h1 {
  /* background-color is for setting the background color of an element. */
  background-color: #4a4a4a;
  /* "Color" is used to set the color of the text. It is used to set the text color of the element. */
  color: #fff;
}
h3 {
  background-color: #f95577;
}

.box1 {
  /* Width is defines the width of the element and measured in pixels, em, rem, etc. It is used to set the width of the element. */

  width: 200px;

  /* Height is defines the height of the element and measured in pixels, em, rem, etc. It is used to set the height of the element. */
  height: 200px;

  /* Padding is used to create space around the content inside the element. It is used to set the padding of the element. */

  padding: 20px;

  /* And Padding is shorthand for padding-top, padding-right, padding-bottom, and padding-left. */
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /* is equivalent to */
  padding: 20px;
  /* and in other way */
  padding: 20px 20px 20px 20px;

  /* Margin is used to create space around the element. It is used to set the margin of the element. */
  margin: 10px;

  /* And it is also works as padding, like margin-top, margin-right, margin-bottom, and margin-left. */

  background-color: #09ff01;
  color: #fff;

  /* "Border" is used to create a border around the element. It is used to set the border of the element. */
  /* And "Border" is shorthand for border-width, border-style, and border-color. */

  border: 5px solid #4a4a4a; /* is equivalent to */

  border-width: 5px;
  border-style: solid;
  border-color: #4a4a4a;

  /* And it has different properties like border-top, border-right, border-bottom, and border-left.
   */
  border-top: 5px solid #4a4a4a;
  border-right: 10px dotted #c83333;
  border-bottom: 15px dashed #f99911;
  border-left: 20px double #015566;
}
.box2 {
  background-color: #015566;
  border: 3px solid #f99911;
  padding: 10px 20px 30px 40px;
}
