*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#wrapper{
    background-color: aquamarine;
    display: flex;
    /* height: 15rem; */
    justify-content: center;
    margin: 10% 10%;
}

.brends{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.line{
    margin: 0.25rem ;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
.line_items{
    display: none;
}
.line_head{
    display: flex;
    justify-content: space-between;
}
.d_block{
    display: block;
}